version: '3.8'

services:
  # 1. The Database (Memory)
  db:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  # 2. Redis (Cache)
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  # 3. The Backend (Brain)
  backend:
    build: ./app-backend
    # REMOVED: build: ./app-backend  <-- The server doesn't have the code!
    # ADDED: The address of the finished box in the warehouse
    # image: ghcr.io/abdulrhmansamir10/devops-graduation-project:latest
    container_name: app-backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: db
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379/0

  # 4. The Frontend (Face)
  frontend:
    build: ./app-frontend
    # REMOVED: build: ./app-frontend
    # ADDED: The address of the finished frontend box
    # image: ghcr.io/abdulrhmansamir10/devops-graduation-project-frontend:latest
    container_name: app-frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data:
  redis_data:
