name: CI (Build & Test)
on:
  push:
    branches-ignore:
      - 'main' 
jobs:
  build-and-test:
    runs-on: ubuntu-latest 
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Docker image (CI)
        uses: docker/build-push-action@v4
        with:
          context: ./app-backend
          push: false
        